html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0; 
  font-family: 'Open Sans', sans-serif;
}

.profilepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 5rem;
  background-image: url("../media/background.png");
  background-size: cover;
}

.profilepage h1 {
  max-width: 80%;
  font-size: 55px;
}

button {
  width: 15rem;
  height: 3rem;
  border-color: inherit;
  border-radius: 13px;
  cursor: pointer;
}

button:hover {
  background-color: #232528;
  transition: 0.5s ease;
}

button:hover a {
  color: white;
}

button a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}


#aboutme {
  height: 90vh;
  padding: 3rem 5rem;
  background-color: #232528;
  color: white;
  overflow: hidden;
}

#aboutme h1 {
  font-size: 55px;
}

#aboutme p {
  font-size: 25px;
}
.biodata {
  display: flex;
  gap: 5px;
  font-size: 20px;
}

.biodata span {
  font-weight: 100;
}

.techstack {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  gap: 30px;
}

.techstack img {
  width: 45px;
  height: auto;
}

.tools {
  display: flex;
  gap: 5rem;
}

.designstack {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  gap: 30px;
}

.designstack img {
  width: 45px;
  height: auto;
  object-fit: cover;
}


